/*
* Summary design
*/
.activeCust{
    display: block !important;
}

#hover-summary{
    width: auto;
    height: auto;
    z-index: 1;
    border: #0075b4 solid 1px;
    border-radius: 0.1875rem;
    display: none;
    position: absolute;
    top:116px;
    background-color: white;
}

#hover-summary:hover{
    display: block;
}

a{
    color: #0075b4;
    text-decoration: none;
    background-color: transparent;
}

ol{
    padding: 0 10px;
}

li.summary{
    list-style-type: decimal;
    padding: 5px;
    margin-left: 25px;
}

li:hover{
    background-color: #dadada;
}

.custom.fa.fa-check, .custom.fa-uncheck{
    float: right;
    width: 16px;
    height: 16px;
    color: green;
    margin: 0 4px;
}

/*
* DATES TODO
*/

.dateToDo{
    float: right;
    margin-right: 10px;
}

.customDoneWeek{
    color:rgb(6, 124, 2);
}

.customPastWeek{
    color:rgb(226, 21, 21);
}

.customActualWeek{
    color:rgb(196, 28, 196);
}

.customNextWeek{
    color:rgb(108, 78, 216);
}

.customFuturWeek{
    color:rgb(105, 100, 100);
}