/*
* REDUCTION HEADER OF COURSES LIST PAGES
*/
.list-unstyled.list-inline.header-second-nav{
    display: flex !important;
}

.header-second-infos{
    flex-grow: 0 !important;
    margin-top: 0 !important;
    display: inline-flex !important;
    align-items: center !important;
}

.header-second-inner{
    padding-top: 5px !important;
    height: auto !important;
}

.header-second{
    height: auto !important;
}

.cursus-header-title{
	margin-right: 30px !important;
}

.course-details{
    margin: 10px 0 !important;
}
	
/*
* BILAN MODULE FIXED AND LESS MARGIN
*/

.course-page-wrapper {
    margin: 150px auto 0 !important;
}

@media screen and (min-width: 1000px) {
   .course-progress-wrapper{
       position: fixed;
   }
}
  